<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2KTbbjNjN-oVRAzpsSf9a_ZgE1wSJrdg</string>
	<key>GCM_SENDER_ID</key>
	<string>511586292086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heco</string>
	<key>PROJECT_ID</key>
	<string>heco-color-help</string>
	<key>STORAGE_BUCKET</key>
	<string>heco-color-help.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511586292086:ios:43ec5d983bdba91f80ea57</string>
</dict>
</plist>